modem.img
product/priv-app/Velvet/Velvet.apk
product/priv-app/PrebuiltGm\sCore/PrebuiltGm\sCoreSc.apk
product/app/YouTube/YouTube.apk
product/app/Photo\s/Photo\s.apk
product/app/PrebuiltGmail/PrebuiltGmail.apk
product/app/GoogleCamera/GoogleCamera.apk
